//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ff3300;
$color-secondary-dark: #cc3300;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #ffb900;
$color-secondary-1: #ff7730;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-blue: #0000FF;
$color-dark-blue: #00008B;

$color-red: #FF0000;
$color-dark-red: #8B0000;
$color-red-gradient: linear-gradient(to right, $color-red, $color-dark-red);

//FONT
$default-font-size: 1.6rem;

$box-shadow: 0 1rem 2rem rgba($color-black,.2);

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
