.header{
  height: 85vh;
  background-image: url(../img/barbshop.jpg);
  background-position: top;
  background-size: cover;
  position: relative;


    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
            only screen and (min-width: 125em) {
        background-image:
        url(../img/barbshop.jpg);
    }


&__logo-box{
  position: absolute;
  top: 4rem;
  left: 4rem;
}

&__logo{
  height: 8rem;
  transform: translate(-50%, -50%);
  margin: 35%;
}

&__text-box{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  @include respond(tab-port) {
          margin-top: 6rem;
      }
}

}
